* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --primary-font: 'Roboto', sans-serif;
    --primary-color-blue:#214280;
    --second-color-blue:#2195CF;
    --color-white:#fff;
    --color-black:#000;
    --background-color:#ffff;
    --font-color-black:#000000;
}

body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--font-color-black);
}

main {
    padding-top: 12vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    background-color: var(--second-color-blue);
    height: 12vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}

header h1 .background-logo {
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

header nav a {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 10px;
    border: #fff 1px solid;
    transition: all 0.3s ease;
}

header nav a:hover {
    background-color: #fff;
    color: var(--primary-color-blue);
}

footer{
    background-color: var(--second-color-blue);
    color: var(--color-white);
    margin-top: 1.5rem;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}